body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('egypt.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    color: white;
}

#greeting {
    font-size: 3em;
    animation: color-change 14s infinite;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

@keyframes color-change {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: fuchsia; }
    85% { color: gold; }
    100% { color: lime; }
}

footer {
  background-color: lime;
  color: white;
  padding: 0.5em 0;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

